[2020-06-01 14:03] jimfhahn opened #2 "`admin_metadata_uri': undefined method `value'"
Hi, I really like this model matching approach, and I think this will be a great way to convert.
I've been using this code to evaluate some records at Penn. One thing I wasn't sure about is how admin metadata is expected for the most recent update. If I take an instance URI from UPenn in Sinopia stage  ( https://trellis.stage.sinopia.io/repository/penn/d6b74251-1532-477d-942c-92802c7cb2ba
 ),

bas

[2020-06-01 20:56] justinlittman commented on #2
There was a recent change to the resource templates that switched Admin metadata to be a referenced resource rather than a nested resource; you need to change this record so that it references an Admin metadata resource.

Let me know if that helps or you encounter other problems.

[2020-06-03 12:40] jimfhahn commented on #2
That worked for me, thanks!

[2020-06-03 15:58] #2 closed

[2020-08-31 15:18] jermnelson opened #4 "SPIKE: Investigate alternative to AWS Lambda for hosting"
The current hosting for `rdf2marc` is using an AWS Lambda that has a timeout period that will cease execution even if rdf2marc is still processing  a request. This 1/2 day spike is to determine:

1. Would hosting as a Fargate task be a better alternative?
1. How hard would it be to refactor as a Fargate task?
1. Are there other options for hosting we should consider?

[2020-08-31 18:05] justinlittman commented on #4
Just to be clear, the issue is not the lambda timing out -- the timeout can be increased to a suitable length; it is the API Gateway, which can't be increased.

Two possible approaches:
1. Sinopia Editor sends a request for a MARC record to Sinopia API. Sinopia API initiates the lambda. Lambda performs the transform and writes the result to a file in an S3 bucket. Sinopia Editor polls the S3 bucke

[2020-09-01 15:04] justinlittman commented on #4
Another option to consider: https://docs.amplify.aws/lib/pubsub/getting-started/q/platform/js

[2020-09-11 20:21] jimfhahn opened #5 "id.loc.gov authorities moved to https://"
Great project! I was revisiting this work today and noticed that Sinopia records that have /id.loc.gov name authorities that do not begin with https:// will not convert. This potentially impacts many legacy Sinopia records where it seems that Sinopia defaulted to http://

[2020-09-14 12:35] justinlittman commented on #5
Thanks for reporting @jimfhahn. This should now be fixed. Can you verify?

[2020-09-14 15:18] jimfhahn commented on #5
@justinlittman working as expected now, thank you!

[2020-09-14 15:24] jimfhahn commented on #4
per the investigations on a hosting option: I was looking for something to get up and running quickly to try out the web-option, as I do not have access to AWS, this was the result in [glitch](https://glitch.com/): https://glitch.com/~rdf2marc
https://rdf2marc.glitch.me/lambda-api/demo.html

[2020-09-14 15:27] #5 closed

[2020-09-14 18:31] jermnelson opened #6 "Move Repo to LD4P"
Move this repository to the LD4P github group.

[2020-09-14 18:39] jermnelson opened #7 "Add tests"
Add unit and feature tests for this repository.

[2020-09-15 11:29] justinlittman commented on #4
Nice @jimfhahn!

[2020-09-18 15:22] jermnelson commented on #4
Moving this back to backlog.

[2020-09-22 18:38] justinlittman opened #8 "Add Description Conversion Information"
Per Nancy Lorimer, request to add Description Conversion Information:
[code]

[2020-09-23 15:01] jimfhahn opened #9 "Instance ref template: "_Monograph Work (BF2) Un-Nested" for MARC conversion (https://)"
Hello, I was working in Sinopia stage and noticed that my Instance ( https://api.stage.sinopia.io/resource/29dc2e6e-02d0-407d-8067-d4c78db6f19c ) would not convert to MARC if I referenced the template "_Monograph Work (BF2) Un-Nested for MARC conversion" -- I was comparing this against the terminal code and found that if I change all the http:// to https:// in the Work record, then it converts, wi

[2020-09-24 22:53] aaron-collier commented on #6
Done. https://github.com/LD4P/rdf2marc

[2020-09-24 22:53] #6 closed

[2020-09-29 02:19] justinlittman commented on #9
Thanks for reporting @jimfhahn. I took a look at this, but wasn't entirely clear how to replicate. Do you mind proving specific steps to reproduce the problem?

Additionally: When I ran from the commandline, I received:
[code]

That problem seems to be because the primary contributor is a literal, not a URI:
[code]

[2020-09-29 16:18] jimfhahn commented on #9
Ok, that helps. I don't think I understand literal requirements. Does this mean if the contributor name is not in id.loc.gov it cannot convert?

I realize now that my question here is kind of lost in the weeds due to my own debugging rabbit hole. I suppose my broader question is why the instance will not generate MARC when it seems to have the required aspects of the converter:

Must reference a B

[2020-09-30 11:58] justinlittman commented on #9
Yes, that is the current functionality of rdf2marc. There is a discussion of this in https://github.com/LD4P/sinopia_editor/issues/2530 you might be interested in.

[2020-10-01 18:36] #7 closed

[2020-10-05 15:37] #8 closed

[2020-10-06 19:19] justinlittman commented on #9
I've made changes in rdf2marc so that it will accept literals in some places where URIs are expected. Let me know if this addresses your problem.

[2020-10-06 21:11] jimfhahn commented on #9
Yes; that worked, thank you! In the future would it be possible to detail which literals are problematic when showing the "not a URI" message? Perhaps it would make more sense in Sinopia where the offending form element could be highlighted...

[2020-10-07 11:19] justinlittman commented on #9
Rdf2Marc is a completely separate library from Sinopia, so a bit hard to tie them together. However, definitely worth thinking about.

In general, literals for URIs are supported for any field in which the MARC field can be constructed without performing a lookup. Thus, for example, it is not supported for subject access fields because the literal cannot determine which MARC field to use.

Close t

[2020-10-07 12:58] jimfhahn commented on #9
Makes sense thank you @justinlittman. good to close...

[2020-10-07 13:23] #9 closed

[2020-10-07 15:33] takamarut opened #14 "MARC conversion error with German corporate name subject"
I entered a new record, title: “Kontinuität und Innovation” in Stage today. I recognized the all updates in 3.4.1. in Stage.
I noticed that the MARC conversion error message explains more detail about the error.

“Server error: Error: Ooops, something went wrong: [Rdf2marc::Models::General::CorporateName.new] "Klinik für Kinder- und Jugendpsychiatrie" (String) has invalid type for :subordinate_un

[2020-10-07 16:53] justinlittman commented on #14
There was a bug with the repeatability of some fields in corporate names. Fix forthcoming.

[2020-10-07 18:38] #14 closed

[2020-10-08 18:19] #4 closed

[2020-10-09 20:40] justinlittman opened #18 "Map 856"
From https://github.com/LD4P/sinopia_editor/issues/2649

https://api.stage.sinopia.io/resource/20c4df1d-ebea-4883-863e-4cc1761e071a is an example.

[2020-10-13 16:08] justinlittman opened #21 "Map 650"
For example, http://id.loc.gov/authorities/subjects/sh85073889

[2020-10-13 21:41] gdegroat opened #24 "MARC conversion on DVD template-- complex subject problem"
In Sinopia Stage, using Firefox in DVD unnested templates for instance and work:

The MARC conversion worked mostly (i assume special mappings haven't been done yet for this template), however, i think that one of the subject headings should have appeared in the MARC conversion, but didn't.  In the Work template, the third subject, Actresses--Drama, did match with a URI from id.loc.gov, so i think

[2020-10-14 15:06] #18 closed

[2020-10-14 19:04] #21 closed

[2020-10-15 16:19] #24 closed

[2020-10-16 16:21] justinlittman commented on #24
FYI @gdegroat -- This fix has been deployed to stage.

[2020-10-22 19:58] jimfhahn opened #30 "MARC Indicators / Subfield codes..."
I was working with our Head of Cataloging on a best practices document for Sinopia for Penn. We were noticing some indicators in the MARC conversion that we had questions about and wanted to bring it to your attention and document our observations.

For this 650 field that gets converted to MARC from this instance ( https://api.stage.sinopia.io/resource/2025a991-042d-4a33-bd52-c07ea94a7649)  we we

[2020-10-26 14:07] justinlittman opened #32 "Consider 050$b from item record"
From #30 (@jimfhahn):

[2020-10-26 14:27] #30 closed

[2020-10-26 19:44] justinlittman commented on #30
This should now be fixed in stage. Thanks for reporting @jimfhahn.

[2020-10-27 19:10] gdegroat opened #33 "MARC conversion--_PCC BF2 Instance (monograph)"
Got an error message when converting to MARC using the new PCC templates.  It took a really long time for the error message to come up, i thought perhaps it hadn't been hooked up yet.

https://api.stage.sinopia.io/resource/2baf84ba-7e19-4568-ad85-5f0bfc2673b5

[2020-10-29 21:21] justinlittman commented on #33
This is broken because subject was made ordered:
[code]

@NancyL ?

[2020-11-06 00:53] NancyL opened #34 "Add 758 field with BF work URI to converted MARC data"
When converting, add a 758 field to the MARC record, as follows:

758 ## $4 http://id.loc.gov/ontologies/bibframe/instanceOf $e Instance of: $a [bf:Work bf:mainTitle] $1 [URI of bf:Work]

This provides a strong link between the MARC and the BF.

[2020-11-06 12:26] justinlittman commented on #34
@NancyL Can you provide an example? It will help make sure this is implemented correctly.

[2020-11-23 20:32] takamarut opened #35 "Assigned 245 first indicator "1" without 1XX"
MARC conversion assigned 245 first indicator "1" without 100.
Stage instance URI: https://api.stage.sinopia.io/resource/0ae18317-2909-4343-a29e-bdb8e5e7aba8
Title: Interdisziplinäre S3-Leitlinie für die Früherkennung, Diagnostik, Therapie und Nachsorge des Mammakarzinoms

![245and246](https://user-images.githubusercontent.com/50535652/100012271-00b86080-2da1-11eb-9136-266a0438707c.PNG)

[2020-11-23 20:36] takamarut opened #36 "Created two 264 fields for two publisher names and publication places"
MARC conversion created two 264 fields for two publisher names and publication places.
Instance URI: https://api.stage.sinopia.io/resource/0ae18317-2909-4343-a29e-bdb8e5e7aba8
Title: Interdisziplinäre S3-Leitlinie für die Früherkennung, Diagnostik, Therapie und Nachsorge des Mammakarzinoms

![264](https://user-images.githubusercontent.com/50535652/100012681-a5d33900-2da1-11eb-9c72-0f8d902dee9b.

[2020-11-25 15:49] justinlittman commented on #36
@takamarut What is the expected result?

[2020-11-25 15:50] justinlittman commented on #35
@takamarut What is the expected result?

[2020-11-28 22:13] takamarut commented on #36
If there are two publishers or issuing bodies on title page of book,
For example: title is published or issued by American Psychiatric Society in Washington, DC and Johns Hopkins University Press in Baltimore, MD
264 _1 Washington, DC : $b American Psychiatric Society ; $a Baltimore, MD : $b Johns Hopkins University Press, $c 2020.
For example: title is published or issued by AABB in Bethesda, MD

[2020-11-28 22:14] takamarut commented on #35
The first indicator should be "0" if there is no 1XX.
245 00 ....

[2020-12-01 15:20] jyssy opened #37 "Converting subjects to MARC from Work?"
Using the internal sinopia converter, regarding this [instance](https://api.stage.sinopia.io/resource/d7adfa65-078f-4b9b-8d12-bd419cf75de2), which has a relationship to this [work](https://api.stage.sinopia.io/resource/ac03096d-822d-48c1-bc66-e25e29b8b3c1), HOLY WAR, this Work has a single subject added, in this case, in FAST, and which has been added with a URI, but does not convert to the MARC f

[2020-12-02 22:17] NancyL commented on #37
Subjects were not included in the initial conversion file. We were not, in this work cycle, intending to create a full MARC record, but an "operational" record for internal use in an ILS.

[2020-12-11 16:18] jyssy opened #38 "External Conversion, not getting a validated MARC file"
When using the Converter built within, we request conversion, and assuming the necessary requirements are meant, the option turns green, and we can download the MARC file.

I was experimenting with the local conversion, installed via git clone, on the same ruby application, and got successful conversion, as noted here in our conversion notes [spreadsheet](https://api.stage.sinopia.io/resource/1a4d

[2020-12-11 16:38] jyssy commented on #38
Quick followup: It looks like a run of the same [Instance](https://api.stage.sinopia.io/resource/1a4d25e0-aee9-40ed-b4c0-9bfc74c08340) conversion, when run internally, DOES produce a more clearly defined binary file withmore indicators and the (=0 that re required in Marcedit, as seen here:
![image](https://user-images.githubusercontent.com/30397506/101929542-9d9a3c80-3b9c-11eb-9610-606172c069e2.p

[2021-01-14 19:47] justinlittman commented on #38
Hey @jyssy --  Just want to make sure I understand. You'd like to request binary file export from the commandline tool (i.e., external conversion); you're not reporting a bug.

[2021-01-19 19:52] jyssy commented on #38
(sorry for my delay here) Well, basically, yes. part of the testing is to test the validity of the output - which means that I think we will need that generation of a MARC record to be used externally as well (at this point, via the CLI). The data that is printed to the terminal, which I have copied into a file, is NOT validating and requires a ton of edits that the built-in converter does not nee

[2021-01-22 17:18] #38 closed

[2021-02-03 20:25] jyssy opened #42 "Testing EXT converter and the generated MARC record"
I tested converting this [Instance](https://api.stage.sinopia.io/resource/728fc24c-184b-425d-afed-7cd99a536213), and, after updating ruby and the bundle, ran the converter from the CLI.
I have 2 comments with 2 questions.

1. The resultant MARC record is produced, but even though the above Instance contains a 'Main Title' the 245 is NOT being generated, either to the terminal or in the MARC file.

[2021-02-03 21:02] justinlittman commented on #42
Can you say more about what you mean by "marked in either .mrk or .mrc (preferred)"?

[2021-02-03 21:05] justinlittman commented on #42
Re: 1. The converter is not expecting title to be a list.

[2021-02-03 21:07] jyssy commented on #42
Sure, just wondering if the file that is produced could be a .mrc record instead of a .mar extension (if that is something that could be controlled). Re: your response to 1., are you saying that the converter is not expecting anything for 245? Or am I misunderstanding your question? :smile:

[2021-02-04 13:07] justinlittman commented on #42
In your profile, the title is specified as order. This produces different RDF that the converter isn't expecting.

![image](https://user-images.githubusercontent.com/588335/106896692-eca5af00-66bf-11eb-9669-d7269d1ce11c.png)

[2021-02-04 14:13] jyssy commented on #42
@justinlittman I am editing this now. Curious, what exactly does 'ordered' do to the RDF? How does it change it? Obviously, I thought it meant something different than it does. thank you

[2021-02-04 15:27] takamarut opened #43 "EXT MARC conversion test issues with Ruby in Windows 10"
I installed Ruby 3.0 in Windows 10 and run bundle install for gems.
But, the EXT MARC conversions are unsuccessful.
I am not sure whether the command line is same as Linux system for Windows 10.
I tried the following command lines:
C:\rdf2marc\exe > rdf2marc https://api.stage.sinopia.io/....
C:\rdf2marc\lib > ruby rdf2marc.rb https://api.stage.sinopia.io/....
C:\rdf2marc\lib > ruby rdf2marc.rb
I g

[2021-02-04 15:34] jyssy commented on #42
So, I edited the Instance RT, got rid of the 'ordered' and made a new instance, here, [https://api.stage.sinopia.io/resource/e8b1efe5-a5cf-4b71-a551-715f29f92dca](url) but I have run into the same issue, no 245 is being produced. What think ye? thank you

[2021-02-04 16:08] justinlittman commented on #42
It is still a list. I wonder if the profile was cached in Sinopia. Try a hard refresh and then opening the instance.

[2021-02-04 16:12] justinlittman commented on #42
RDF has no notion of ordering. Thus, if, for example, you say an instance has two titles, the ordering of those titles have no implied order and may come back from the RDF parser in any order. However, there are several conventions (which vary based on the serialization) for specifying order.

This is one of the things that make RDF very difficult to write applications for. It would be significant

[2021-02-04 16:17] jyssy commented on #42
When I open the [Instance](https://api.stage.sinopia.io/resource/UChicago:RT:bf2:Monograph:Instance), I find that 'ordered' has been removed, but this is what I saw and was testing with this next instance of an 'Instance' :smile: What do yo mean by hard reset? I have logged out and back in, etc. **thank you** (Not sure if the cache to which you are referring is on the browser side of server side).

[2021-02-08 02:25] takamarut commented on #43
I installed all gems which are listed in rdf2marc.rb.
Is this command line to execute "rdf2marc"? I got "loader" error. Would anyone advice me how to run rdf2marc? Thanks!
![image](https://user-images.githubusercontent.com/50535652/107168976-c4050a00-698a-11eb-8f0b-071bea336751.png)

[2021-02-08 12:19] justinlittman commented on #43
I suspect that the rdf2marc executable will not work from the normal Windows commandline. I'm not at all familiar with Windows, but I understand it has a Linux subsystem. Can you try that?

[2021-02-08 15:30] justinlittman commented on #42
Browser refresh. On my Mac, this is splat+shift+r.

[2021-02-08 16:33] jyssy commented on #42
Thank you (Chrome on linux has a couple different hard refresh options), but I am seeing that this [Instance](https://api.stage.sinopia.io/resource/e8b1efe5-a5cf-4b71-a551-715f29f92dca) is opening with unused triples now. This was the new Instance I created, I think, based upon my edited Instance RT (sans 'ordered') So, this was unexpected.

[2021-02-08 18:38] jyssy opened #44 "RDF2MARC from Share-VDE Data - a question?"
I am looking at some Share-VDE results of a search in stage, and we are currently able to copy that data into a template of our choice. This makes sense in theory. The issue we run into of course is that little if any of the SVDE triples are mapped to Sinopia RTs (made even more problematic by the fact that each institution has does so much with customized RTs - even in the same resource formats).

[2021-03-17 14:29] takamarut commented on #43
**Finally, rdf2marc works from the normal Windows command line!**
I think Ruby gem, "byebug" installation with "bundle install" was the issue. After I installed Ruby gem, "byebug" with "gem install byebug" from the normal Windows command line, I can execute rdf2marc from the normal Windows command line. I did not have to install WLS (Windows Linux Subsystem).
I am using Ruby 3.0 from the Windows c

[2021-04-01 14:22] takamarut commented on #43
**Resolved issue- vernacular characters display correctly in the Ruby output.**
In Windows command prompt, type **chcp 65001** to display UTF-8. Change appropriate font in properties of the command prompt.

[2021-04-15 14:40] jyssy opened #45 "Error running the ruby CLI script"
Good morning

I attempted to convert this [Instance](https://api.stage.sinopia.io/resource/fbc43365-0b3a-4e29-b41b-6b1e4bf643a3), which is one of the central PCC templates (for Monograph Instance) but I received this error:

`W, [2021-04-15T10:33:04.812886 #51220]  WARN -- : Resolving http://vocab.getty.edu/aat/300060417 to Rdf2marc::Models::SubjectAccessField::GenreForm not supported.
Traceback (

[2021-04-15 15:26] justinlittman commented on #45
`http://vocab.getty.edu/aat` URIs are not supported. Currently, only resolving `id.loc.gov` URIs are supported.

[2021-04-15 15:28] jyssy commented on #45
thank you, ok. thank you

[2021-04-15 15:35] jyssy commented on #45
Curious, how long does it take for any reindexing? I made the change and ran the script, with the same error. No rush. thank you

[2021-04-15 15:36] justinlittman commented on #45
Zero latency. What is the commandline that you executed?

[2021-04-15 15:38] jyssy commented on #45
exe/rdf2marc and the same Instance [URI](https://api.stage.sinopia.io/resource/fbc43365-0b3a-4e29-b41b-6b1e4bf643a3).

[2021-04-16 11:04] justinlittman commented on #45
When I execute, this is returning a different error because the subject is a list:
[code]

rdf2marc does not currently handle subjects as lists.

[2021-04-16 12:37] jyssy commented on #45
Ok, so you are saying that there can only be one subject for a resource? Or is that an issue with the template, you think? If in the template, I will reach out to someone about the template.  Thank you Justin.

[2021-04-16 13:27] jyssy commented on #45
Hm, I attempted to convert this [URI](https://api.stage.sinopia.io/resource/39089327-a05d-4184-b7c0-aaf5f018748d), that was built this morning with the UChicago template, I got the same error.

"Traceback (most recent call last):
	7: from exe/rdf2marc:16:in `<main>'
	6: from /home/jal359/Documents/GitHub/rdf2marc/lib/rdf2marc/converter.rb:15:in `convert'
	5: from /home/jal359/Documents/GitHub/rdf2

[2021-04-16 13:32] jyssy commented on #45
I also attempted to convert the PCC template-created one with the INTERNAL converter, but that was NOT successful (maybe for the same reason you mentioned). / Also, I attempted to convert the UChicago-created MDS - which was also not successful. So, I am getting failures on both of these URI Instances in both INT and EXT conversion situations.

[2021-04-16 15:21] justinlittman commented on #45
Form of work is modeled differently in `UChicago:RT:bf2:Monograph:Work` than (expected) `pcc:bf2:Monograph:Work`.

[2021-04-16 15:22] justinlittman commented on #45
There can be multiple subjects; they just can't be ordered, which is specified in the template.

[2021-04-16 17:22] michelleif commented on #45
looking at UChicago:RT:bf2:Monograph:Work on stage today, there are no ordered properties, something else must be causing error. @justinlittman can you assist?

[2021-04-16 20:45] justinlittman commented on #45
For `UChicago:RT:bf2:Monograph:Work`, form of work is a nested `ld4p:RT:bf2:Form`. For `pcc:bf2:Monograph:Work`, it is a lookup. This results in different RDF.

[2021-04-19 12:40] jyssy commented on #45
Ok, I will certainly make the change to the UChicago RT, but I still am having the same issue mentioned above with the PCC template.

[2021-04-19 13:36] jyssy commented on #45
Also, update, when I made that change to the UChicago template, used that as the Work for the PCC Instance template, the conversion also worked fine in INT and EXT conversion tools. I think we can close this issue for now, thank you @justinlittman

[2021-06-30 13:50] #37 closed

[2021-07-06 16:53] justinlittman opened #50 "Switch master to main"

[2021-07-13 00:07] NancyL opened #51 "Provision activity to 264 results in incorrect indicator placement"
This is a change to an existing mapping (and a defect).

**Example RDF records**
https://api.stage.sinopia.io/resource/dbc545f8-5199-410f-a45e-dbdebb2a0797

**Resource template**
Stage. ld4p:RT:bf2:Monograph:Instance:Un-nested

**Expected MARC**
What MARC did you expect to receive?

245 10 $a Visiting neighbours ...
**264 _1**  $a Tallinn (Estonia) $b Estonia. Muinsuskaitseamet $c 2018

**Actual M

[2021-07-14 04:20] NancyL opened #53 "First indicator for 650 field incorrect"
**Type of change**
change to existing mapping/ defect?

**Example RDF records**
https://api.stage.sinopia.io/resource/1f9f50e0-5316-466a-affc-4bc3c51e89d3

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
ld4p:RT:bf2:Monograph:Work:Un-nested (Stage)

**Expected MARC**
What MARC did you expect to receive?
650 _0 $a Gama

[2021-07-22 22:50] NancyL opened #54 "100 field is not being converted"
**Type of change**
Change to existing mapping

**Example RDF records**
https://api.stage.sinopia.io/resource/1f9f50e0-5316-466a-affc-4bc3c51e89d3

_:b1 a <http://id.loc.gov/ontologies/bflc/PrimaryContribution>;
    <http://id.loc.gov/ontologies/bibframe/agent> <http://id.loc.gov/authorities/names/n2006006905>;
    <http://id.loc.gov/ontologies/bibframe/role> <http://id.loc.gov/vocabulary/relators/

[2021-07-22 23:10] NancyL opened #55 "Add roles given in bf:Contribution"
**Type of change**
New mapping

**Example RDF records**
https://api.stage.sinopia.io/resource/6e95e390-e677-4bb3-b438-0065d83e4d53

_:b3 a <http://id.loc.gov/ontologies/bflc/PrimaryContribution>;
    <http://id.loc.gov/ontologies/bibframe/agent> <http://id.loc.gov/authorities/names/nb2004311516>;
    <http://id.loc.gov/ontologies/bibframe/role> <http://id.loc.gov/vocabulary/relators/aut>.
<http://

[2021-07-22 23:27] NancyL opened #56 "OCLC record number put into incorrect field"
**Type of change**
Change/finessing of an existing mapping

**Example RDF records**
https://api.stage.sinopia.io/resource/ce068a4e-8d86-4f84-9693-3dc5fabc5280

<http://id.loc.gov/ontologies/bibframe/identifiedBy> _:b20, _:b21, _:b22;
...
_:b22 a <http://id.loc.gov/ontologies/bibframe/Local>;
    <http://www.w3.org/1999/02/22-rdf-syntax-ns#value> "1141759043"@eng;
    <http://id.loc.gov/ontologies/

[2021-07-29 02:40] NancyL opened #57 "Map a 245 second indicator value in conversion"
New mapping.
https://api.stage.sinopia.io/resource/ca44ec67-a40c-4486-a6f1-d70b58cb3775

_:b1 a <http://id.loc.gov/ontologies/bibframe/Title>;
    <http://id.loc.gov/ontologies/bibframe/mainTitle> "The Laws guide to nature drawing and journaling"@eng.

**Resource template**
stage pcc:bf2:Title:InstanceTitle (Title--Instance Title)
stage ld4p:RT:bf2:InstanceTitle (Instance title)

245 14 The Laws g

[2021-08-03 19:19] michelleif commented on #43
@takamarut can we close this?

[2021-08-03 19:22] michelleif commented on #42
i tried previewing and opening the above instance and there were no unused triples. @jyssy can we close this ticket?

[2021-08-03 21:27] NancyL opened #58 "Country codes are incorrect & incorrect length"
**Type of change**
Change to existing mapping

**Example RDF records**
https://api.stage.sinopia.io/resource/7696c434-8b95-474d-976e-e9b1e78306ef

![image](https://user-images.githubusercontent.com/5078198/128087658-ca17c1e8-5d5a-4f01-a000-32cff8c96922.png)
(I think this is where it is derived from...)

**Resource template**
https://stage.sinopia.io/editor/pcc:bf2:Monograph:Instance with referred

[2021-08-04 21:05] michelleif opened #59 "RDF-to-MARC conversion improvements"

[2021-08-04 21:15] #45 closed

[2021-08-04 22:05] NancyL opened #60 "Extent & Dimensions should map to one MARC 300 field"
**Type of change**
change to existing mapping

**Example RDF records**
https://api.stage.sinopia.io/resource/7696c434-8b95-474d-976e-e9b1e78306ef

<https://api.stage.sinopia.io/resource/7696c434-8b95-474d-976e-e9b1e78306ef> <http://sinopia.io/vocabulary/hasResourceTemplate> "ld4p:RT:bf2:Monograph:Instance:Un-nested";
    a <http://id.loc.gov/ontologies/bibframe/Instance>;
    [...]
    <http://id.

[2021-08-10 20:54] michelleif commented on #42
I'm closing this ticket and if there are still problems please open a new ticket.

[2021-08-10 20:54] #42 closed

[2021-08-10 20:55] #43 closed

[2021-08-20 19:13] justinlittman opened #61 "Automate deployment"
Preferably similar to other Sinopia projects but with the added complication that this is a Lambda.

[2021-08-20 19:15] justinlittman opened #62 "Add to dependency updates"
Like every other ruby project.

[2021-08-30 15:32] justinlittman commented on #62
Add to update config: https://github.com/sul-dlss/access-update-scripts/commit/8c93b25d28ee78ccca00f945af7d48761eb4be33

[2021-08-30 15:36] justinlittman opened #63 "Add rubocop-rspec"
[code]

[2021-08-30 15:38] justinlittman opened #65 "Add test coverage"

[2021-08-30 16:26] #62 closed

[2021-08-30 16:32] justinlittman commented on #61
See these instructions for creating lambda zip: https://github.com/LD4P/rdf2marc/tree/master/lambda-s3

[2021-08-31 02:25] #63 closed

[2021-08-31 10:52] justinlittman opened #69 "Fix tests in leader_spec"
For  model2marc/leader_spec.rb, implement two tests (lines 74 encoding level and line 94 cataloging form) labeled as “to be implemented”.

This is fallout from adding rubocop-respec.

[2021-08-31 21:11] #69 closed

[2021-08-31 21:12] ndushay commented on #50
https://docs.google.com/document/d/1rzr1VF8EdtKOmFlIK0CbPVJwJi72OMa6HCOzOS-kU4k

[2021-08-31 22:53] ndushay commented on #50
I have followed all the steps layed out in the google doc;  if there is something that doesn't work, we'll figure it out.

[2021-08-31 22:53] #50 closed

[2021-08-31 22:55] ndushay commented on #65
I'm going to try for CodeClimate for both coverage and maintainability measures.

[2021-08-31 23:45] ndushay commented on #61
In working on adding code coverage, I'm comparing with dlme-transform.  You are probably already aware of the need for some env variables in circleci:  https://app.circleci.com/settings/project/github/sul-dlss/dlme-transform/environment-variables?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fsul-dlss%2Fdlme-transform

[2021-09-01 01:50] #61 closed

[2021-09-01 03:05] #65 closed

[2021-09-07 19:19] jcoyne commented on #54
https://api.stage.sinopia.io/resource/1f9f50e0-5316-466a-affc-4bc3c51e89d3 is a BF:Work, but we need a BF:Instance to run rdf2marc

[2021-09-07 19:26] jcoyne commented on #53
https://api.stage.sinopia.io/resource/1f9f50e0-5316-466a-affc-4bc3c51e89d3 is a BF:Work, but we need a BF:Instance to run rdf2marc. https://api.stage.sinopia.io/resource/d7e62aba-e269-4609-87d3-0139c5c098cd is the BF:Instance.

[2021-09-07 21:00] justinlittman commented on #32
@NancyL @vitustang Can you determine if/ what needs to be done for this ticket? Thanks!

[2021-09-07 21:38] #53 closed

[2021-09-07 21:48] vitustang commented on #32
@justinlittman this is the first time I see this ticket, so I'm not familiar with the history or context of the question, but I'll take a stab at answering.
The _Monograph Work (BF2) Un-Nested template has a place for inputting a "Library of Congress Classification", with two subunits: "LC classification number" and "Classification item number". These two are the equivalent of MARC 050 $a and $b.

[2021-09-07 21:55] justinlittman commented on #32
We are currently mapping from the Work (see https://github.com/LD4P/rdf2marc/blob/main/lib/rdf2marc/rdf2model/mappers/number_and_code_fields.rb#L113), so I am going to close this ticket.

[2021-09-07 21:55] #32 closed

[2021-09-08 14:03] #51 closed

[2021-09-08 14:47] jcoyne commented on #56
Are there any circumstances where we should continue to map to the 001 field?

[2021-09-08 15:48] justinlittman commented on #56
@NancyL ?

[2021-09-08 20:23] justinlittman commented on #57
@NancyL Is there anything that can be done for this mapping? Or can this ticket be closed?

[2021-09-09 04:41] jcoyne commented on #35
Currently the logic for the 245 first indicator is governed by whether it's an "added" or "no_added". https://github.com/LD4P/rdf2marc/blob/main/lib/rdf2marc/model2marc/field_245.rb#L12

Should we discard that approach?

[2021-09-09 18:03] #35 closed

[2021-09-09 19:27] jcoyne commented on #36
![Screen Shot 2021-09-09 at 2.27.23 PM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/fd8ac36a-62b1-40ca-bb24-e308364a12d0)

[2021-09-09 19:32] justinlittman commented on #36
@takamarut In the template, Publication is repeatable and then within that, Place, Name, and Date are repeatable. Our current logic is to create a 264 for each Publication, with each Place, Name, and Date as repeatable subfields.

Do you have a different logic to suggest that accounts for the repeatability of the Publication, Place, Name, and Date?

[2021-09-09 19:39] #33 closed

[2021-09-09 19:43] justinlittman commented on #60
@NancyL Are there changes to the expected mapping logic or can this be closed?

[2021-09-09 22:54] NancyL commented on #60
I don't know. If there is only one extent and one dimension, it is simple--create one 300 field. But, is there a way to create multiple 300s with extent and dimensions in each? Not sure if there is a way--ordering perhaps?

[2021-09-10 14:24] jcoyne commented on #60
@NancyL The extent and dimensions are not modeling order in the RDF, so I don't think we can use that, can we?

[2021-09-10 15:55] NancyL commented on #60
@jcoyne not currently, but I was thinking of the "ordered" property (which we don't have activated there currently). If we ordered extent and then ordered dimensions, would it be possible to then link the first extent with the first dimensions, etc.?

[2021-09-10 18:52] #54 closed

[2021-09-10 18:57] justinlittman commented on #55
Note that these should be lookups rather than using the label in the RDF.

[2021-09-10 19:20] jcoyne commented on #55
@NancyL is there a sample instance record we can use? It looks like you linked to a Work, but we can only run rdf2marc on an instance record.

[2021-09-10 22:13] #58 closed

[2021-09-10 22:16] justinlittman opened #92 "Lambda broken"
[code]

Presumably caused by https://github.com/LD4P/rdf2marc/pull/90

[2021-09-10 22:46] justinlittman commented on #60
@NancyL In theory. Would this produce RDF that is dissimilar from others (e.g., LC)?

[2021-09-13 13:18] jcoyne commented on #92
This might just be that we need to set BUNDLE_GEMFILE=/var/task/Gemfile

Possibly can do this with `ENV['BUNDLE_GEMFILE'] ||= File.expand_path('../../Gemfile', __FILE__)`

[2021-09-13 16:15] #92 closed

[2021-09-13 19:50] justinlittman opened #95 "rdf2marc failing with failure to load"
In development, requesting MARC conversion of https://api.development.sinopia.io/resource/4bf07817-38a4-41d5-8498-8a9a36b88ec4

![image](https://user-images.githubusercontent.com/588335/133147233-76ab7d94-0e60-4af8-b162-3066cdf7a314.png)

Best guess is this is related to recent caching changes. Note that calls to Sinopia API should not be cached.

[2021-09-13 21:24] jcoyne commented on #95
@justinlittman there is a small problem in the code, but the bigger problem is that the specified record doesn't exist:
[code]

[2021-09-13 21:39] justinlittman commented on #95
` https://api.development.sinopia.io/resource/4bf07817-38a4-41d5-8498-8a9a36b88ec4` not ` https://api.stage.sinopia.io/resource/4bf07817-38a4-41d5-8498-8a9a36b88ec4`

[2021-09-14 11:17] justinlittman commented on #95
[code]

[2021-09-14 11:25] justinlittman commented on #95
[code]

[2021-09-14 14:37] jcoyne commented on #95
It looks like we might have misconfigured the cache to use the filestore rather than s3.

[2021-09-14 21:55] NancyL commented on #55
I tried to create a new record covering this last night (the other one, which did have an attached instance has been deleted) but stage wasn't indexing. I'll try again.

[2021-09-14 22:29] NancyL commented on #60
@justinlittman In theory, I guess any time we use the ordered property it would, since it unique to Sinopia. I wonder if we could use it just for export to MARC, but no other export?? I'm not sure LC ever uses multiple 300 fields; trying to find out

[2021-09-14 22:59] vitustang commented on #56
Question: Are there any circumstances where we should continue to map to the 001 field?

Answer: No, not when the "source" of the identifier is OCoLC, e.g.
:b23 a http://id.loc.gov/ontologies/bibframe/Source;
http://www.w3.org/2000/01/rdf-schema#label "OCoLC"@eng.

[2021-09-15 11:18] justinlittman commented on #60
The current model we have for other organizations to get our records is by retrieving from our API. Thus, we don't have the ability to modify the records, e.g., to remove ordered subjects.

[2021-09-15 23:23] NancyL commented on #55
Try https://api.stage.sinopia.io/resource/5142ffee-7f93-4e85-8337-8515b13d2e36

[2021-09-15 23:52] NancyL commented on #55
and another: https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7

[2021-09-17 21:26] NancyL commented on #36
This seems to be repeating the template rather than repeating within each field. If I enter two places in the place field, it does convert to $a place $a place as it should. The conversion of the $b has disappeared at the moment so I can't see what happens there

[2021-09-18 00:03] justinlittman commented on #95
Fixed

[2021-09-18 00:03] #95 closed

[2021-09-18 00:05] justinlittman opened #99 "Diacritics/non-Roman scripts conversion error"
**Type of change**
Is this a new mapping, change to existing mapping, or a defect?
Defect

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/7e16bdd3-6aff-4496-b2e5-3e3a052cb719

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, produ

[2021-09-20 13:41] NancyL opened #101 "Publisher name does not conver"
**Type of change**
Defect

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
pcc:bf2:Instance:Monograph/pcc:bf2:PublicationInformatio

[2021-09-20 13:49] justinlittman commented on #101
Developer note: Resolve the bf:Agent; do not use the label.

[2021-09-20 13:52] NancyL commented on #101
thanks Justin. Yes, since it is a lookup, we should resolve the bf:Agent

[2021-09-20 15:35] jcoyne commented on #101
It looks to me like the source RDF is invalid.

[code]

The range of `rdfs:label` is `rdfs:literal` and here it's a URI.
See https://www.w3.org/TR/rdf-schema/#ch_label

[2021-09-20 15:43] NancyL commented on #101
um, that is not what I get. You may need to refresh stage.

[2021-09-20 16:11] justinlittman commented on #101
I verified the invalid RDF. However, after re-saving the resource the source RDF was valid:
[code]

[2021-09-20 17:37] #101 closed

[2021-09-20 18:07] justinlittman opened #103 "Ignore lambda and layer changes when applying changes"
Changes to the rdf2marc lambda and layer are pushed to AWS by CircleCI; Terraform is not aware of the changes and should not overwrite the changes.

[code]

Please change the TF configuration so that these changes are ignored.

[2021-09-20 19:52] kamchan commented on #103
the aws_lambda_function "rdf2marc_function" is using an optional parameter (layers) to attach to the lambda function.  When that's commented out, it looks like it will remove an older version that it managed (ie version 22 from the terraform plan output)?  but does not add a new layer.    Can we test that in development and see if that is the behavior you expect?  @justinlittman

https://github.co

[2021-09-21 00:18] aaron-collier opened #104 "rdf2marc raising Work (bf:instanceOf) ... (Rdf2marc::BadRequestError) on all requests"
When I run the rdf2marc command line tool against a URI from the application:

[code]

I get:

[code]

[2021-09-21 00:36] aaron-collier commented on #104
Perhaps this should go in it's own ticket, but capturing here for now:

Trying a different resource per @michelleif suggestion:

[code]

Results in a different error:
[code]

[2021-09-21 12:42] justinlittman commented on #103
As feared/expected, that removed the layer when applied. However, the layer is necessary.

[2021-09-21 14:14] justinlittman commented on #104
@NancyL `ld4p:RT:bf2:Provision:Name` has a property `http://id.loc.gov/ontologies/bibframe/Agent`. Should this be ``http://id.loc.gov/ontologies/bibframe/agent`?

![image](https://user-images.githubusercontent.com/588335/134186867-82ff6046-eb11-45d1-ad68-3ad347d5ba1a.png)

[2021-09-21 14:25] justinlittman commented on #104
Actually, that whole template seems odd. `ld4p:RT:bf2:Provision:Name` has the class BF:Agent, but it has an agent property.

[2021-09-21 15:03] #99 closed

[2021-09-21 15:04] NancyL commented on #104
please look at the pcc:bf2:Provision:Name. Yes, the ld4p one is a mess, as was the pcc one. I have fixed the pcc one. I will fix the ld4p one some time today. But let's concentrate on the pcc templates for now

[2021-09-21 15:45] jcoyne commented on #56
@vitustang what about when the source is not OCoLC?

[2021-09-21 16:26] aaron-collier commented on #104
I am still getting errors, and don't really understand any of the above discussion, so that's up to you all, but I'm blocked on using rdf2marc.

[2021-09-21 16:47] aaron-collier commented on #104
@jermnelson was able to walk me through finding valid objects, so if this is expected behavior as I saw above, feel free to close.

[2021-09-21 16:48] justinlittman opened #107 "Recreate test resources in dev environment"
Blocked by https://github.com/LD4P/sinopia/issues/325

The development environment currently hosts a trio of resources used for testing:
* Admin md: https://api.development.sinopia.io/resource/4ccf09fb-62e9-4f80-8a04-259fd7d68caa
* Work: https://api.development.sinopia.io/resource/f629614c-7ae7-49c1-acc8-4488d6dc5f37
* Instance: https://api.development.sinopia.io/resource/4bf07817-38a4-41d5-8498-8

[2021-09-21 16:49] #104 closed

[2021-09-21 16:59] NancyL commented on #107
As a note, the ld4p templates are not legacy templates, but we certainly should be doing testing using the pcc templates.

[2021-09-21 16:59] ndushay commented on #55
Another way to describe this ticket is "Add relator terms to subfield e for 1xx and 7xx fields"

[2021-09-21 18:38] justinlittman commented on #56
Have we determined where to put the ckey? Because if not, we wouldn't expect to find it as a local identifier.

[2021-09-22 16:34] kamchan commented on #103
this is already applied which looks to ignore layer changes.

https://github.com/sul-dlss/terraform-aws/pull/897/files

[2021-09-23 23:29] NancyL commented on #54
This is now working correctly!

[2021-09-23 23:30] NancyL commented on #35
This is now working correctly for both the 245 with a 1XX and the 245 without a 1XX!

[2021-09-23 23:45] NancyL commented on #51
This is now correct!

[2021-09-23 23:46] NancyL commented on #53
This is now correct!

[2021-09-24 10:51] #55 closed

[2021-09-24 10:52] justinlittman commented on #55
@NancyL The fix for this was tricky. Can you please test in DEVELOPMENT?

[2021-09-24 19:11] NancyL commented on #55
On my one test, it seems to work well (even if I put in a 2nd role with the same contributor). People may not like that it is capitalized, but there is nothing we can do about that.

[2021-09-24 23:06] NancyL commented on #57
I don't know what you are asking here.

[2021-09-24 23:30] NancyL commented on #36
Repeating the whole template will create 2 264 _1 fields in MARC. In MARC, this is not incorrect; it is incorrect according to cataloging rules, which specify that it goes in one field. If I instead add the second place of publication and publisher in the same template as the first like this:
![image](https://user-images.githubusercontent.com/5078198/134749043-831bfc77-981a-44e4-8594-580029b92790.

[2021-09-24 23:37] NancyL commented on #60
It seems then that the ordered property is not useful because it prevents data exchange. Oof, everything I think of comes up with issues--we need a fix to BF! Let's just make sure a single extent and a single dimension go together in the 300; anything in addition can go in other 300s and the cataloger will just have to fix for now.

[2021-09-24 23:43] NancyL commented on #34
245 10 $a Linked data for libraries, archives and museums :$b how to clean, link and publish your metadata /$c Seth van Hooland and Ruben Verborgh.
758 ## $4 http://bibframe.org/vocab/instanceOf  $i Instance of: $a Linked data for libraries, archives and museums $0 http://worldcat.org/entity/work/id/1840249565

[2021-09-26 17:24] NancyL opened #111 "FAST headings do not convert to MARC"
**Type of change**
Defect

**Example RDF records**
https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7 (Instance)
https://api.stage.sinopia.io/resource/7b03cc32-d121-490e-bae6-8ba51ff8e95a (work)

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
stage: pcc:bf2:Monograph:Work/ld4p:RT:bf2:Monograph

[2021-09-27 13:40] justinlittman commented on #111
Not a defect; FAST is not implemented.

[2021-09-27 16:59] michelleif commented on #36
@NancyL
1) we don't convert GeoNames only LCNAF
2) can you create a new ticket that follows the mapping issue template, summarizing what you need changed? i.e., just the info in your last comment about doing $a $b $a $b vs $a $a $b $b

[2021-09-27 16:59] NancyL commented on #57
The second indicator of the 245 is supposed to indicate the number of non-filing characters--something a cataloger puts in manually--so that indexing skips words such as "The", "Ein", etc. and the space that follows before the next word. That is the only way MARC has figured out how to do this in a multi-language/multi-script environment. It is not correct MARC if that indicator is not correct.

I

[2021-09-27 18:01] NancyL commented on #36
So that basically means we cannot use GeoNames, since that field initiates the creation of the MARC country code in the 008, which is required. Not so bad, because I was beginning to think that it was not a great place to use GeoNames, but does increase restrictions again.

I will do the new ticket

[2021-09-27 18:02] #56 closed

[2021-09-27 18:55] jcoyne commented on #34
@NancyL would it actually look like this?
[code]

this uses the title statement rather than the variant titles.

[2021-09-27 20:10] NancyL commented on #34
Actually, it should look like this:

758 ## $4 http://bibframe.org/vocab/instanceOf $i Instance of: $a Physica. English $0 https://api.stage.sinopia.io/resource/7b03cc32-d121-490e-bae6-8ba51ff8e95a

It should be the bf:mainTitle of the bf:Work, not the bf:Instance (we are saying the bib record is an instance of the work)

[2021-09-27 21:14] NancyL commented on #55
This is working in stage as well as development

[2021-09-27 21:29] NancyL commented on #101
So, yes this is now working when there is a lookup to be found. I hesitate it says it's fixed though because it will not work with a literal. And even if had agreed to this restriction, I can't currently test because I don't have a way to add the label to a new URI in the template yet as far as I know.

And if we are maintaining this restriction, there should be a "Create new" button paired with e

[2021-09-27 23:25] NancyL opened #114 "Right to left script is displayed left to right in MARC conversion display"
**Type of change**
A defect I think--problem with html coding?

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/85bcf909-f9cc-42bc-9fd4-0292367eb1b2

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
stage pcc:bf2:Monog

[2021-09-27 23:40] NancyL commented on #60
**Updated request:**
Type of change--Change to mapping

**Sample record:**
https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7

**Resource template:**
STAGE: pcc:bf2:Monograph:Work including nested template pcc:bf2:Extent

Expected MARC:
300 ## $a 250 pages ; $c 24 cm

Actual MARC:
300 ## $a 250 pages
300 ## $a 24 cm

If there is one bf:extent and one bf:dimensions combine i

[2021-09-27 23:42] NancyL commented on #36
Actually, on second thought, I don't think it is really possible to do this change. It requires the combination of the labels of 2 separate properties be combined in specific ways and we already know from other fields (e.g., extent) that we don't have a good way to do this right now.

[2021-09-28 11:05] #34 closed

[2021-09-28 13:30] jcoyne opened #116 "Are main title and variant title flipped?"
**Type of change**
Is this a new mapping, change to existing mapping, or a defect?

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

**Expected MARC**
What MARC did you expect to receive?

**Actual MARC**
W

[2021-09-28 13:34] justinlittman opened #117 "Fix 758 field with BF work URI to converted MARC data"
**Type of change**
Is this a new mapping, change to existing mapping, or a defect?
Defect

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7

**Expected MARC**
What MARC did you expect to receive?
[code]

**Actual MARC**
What MARC did you actually receive (if map

[2021-09-28 18:42] jcoyne commented on #111
@NancyL We don't support the 647 field yet. Can you write a new ticket for that?

[2021-09-28 21:02] #111 closed

[2021-09-28 21:04] #117 closed

[2021-09-28 23:09] NancyL opened #120 "Convert FAST event_name to MARC 647"
Type of change
New mapping

Example RDF records
https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7 (Instance)
https://api.stage.sinopia.io/resource/7b03cc32-d121-490e-bae6-8ba51ff8e95a (work)

Resource template
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
stage: pcc:bf2:Monograph:Work/ld4p:RT:bf2:Monograph:Work

[2021-09-29 00:49] #103 closed

[2021-09-29 14:55] jcoyne commented on #120
@NancyL I don't see that fast URI (http://id.worldcat.org/fast/1180924) associated with either the work or instance that you provided:
[code]

[2021-09-29 15:21] NancyL commented on #120
Ah, that is another part of the problem. The lookup to FAST event_name does not seem to be working. I need to put in an issue under the editor

[2021-09-29 17:44] michelleif commented on #36
do you want to close this ticket then @NancyL ?

[2021-09-29 17:59] NancyL commented on #36
So I did not create this ticket in the first place. It is a valid problem; I just have no idea how to solve it.

[2021-09-30 15:27] #36 closed

[2021-10-01 16:25] michelleif commented on #57
@NancyL can you follow up with LC to see how they are getting the # of nonfiling characters from BF?

[2021-10-01 17:59] ndushay commented on #116
@justinlittman didn't you fix this?

[2021-10-01 18:24] justinlittman commented on #116
Not that I'm aware of. @NancyL can you cofirm if this is a bug or working as intended?

[2021-10-07 19:45] michelleif commented on #120
in this resource on stage https://api.stage.sinopia.io/resource/7b03cc32-d121-490e-bae6-8ba51ff8e95a please lookup and add the FAST heading http://id.worldcat.org/fast/1180924 to the resource and save so that @jcoyne has data to work with thanks

[2021-10-12 18:38] gdegroat opened #127 "Failed MARC conversion after adding something to work record"
This is related to the issue about the "add another" button on contributor.  The instance record https://api.stage.sinopia.io/resource/b0319047-acd0-4f30-bd8b-98e6c1bac6b0  previously had a successful MARC conversion.  However, after i experimented with the work record and did "add another" at the field level of the primary contributor, the record now fails in the MARC conversion.  That doesn't su

[2021-10-25 22:48] NancyL opened #129 "URI & label created in Sinopia do not convert to MARC"
**Type of change**
New mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://api.stage.sinopia.io/resource/1e046a1b-87fe-4eca-b036-08d35dc53579 (and its related bf:Work https://api.stage.sinopia.io/resource/323a3f82-1095-4d0b-96a6-08bc2a511789)

**Resource template**
stage pcc:bf2:Monograph:Instance/pcc:bf2:Monograph:Work

[2021-10-27 17:12] #127 closed, assigned to jcoyne

[2021-10-28 20:26] justinlittman opened #131 "Fallback when resolving models"
Currently, resolving with `Resolver.resolveModel()` is only supported for certain authorities; when an authority is not supported, the data is dropped.

This strategy should be changed such that:
* If a literal is provided, the literal is used for the appropriate model field.
* If a URI is URI, the literal is used for the appropriate model field.
* If a label for the URI is provided and the label

[2021-10-28 20:33] justinlittman opened #132 "Fallback when resolving label"
When resolving a label (`Resolver.resolve_label()`):
* If a literal is provided, use the literal as the label.
* If a URI is provided, but the URI is for an authority that cannot be resolved, and a label is provided for the URI and the label is different than the URI, use the label as the label.

[2021-10-30 01:11] justinlittman commented on #131
If the object for the property is a literal (i.e., the thing that is being resolved).

For example, in https://github.com/LD4P/sinopia_editor/blob/main/src/components/App.jsx#L195-L207, the literal case is handled; the fallback for URI/label would need to be added.

[2021-10-30 01:14] justinlittman commented on #132
If the object of the statement is a literal.

For example, for https://github.com/LD4P/rdf2marc/blob/7aaf57e709e48515a95dab8f3be625e85a0b3a34/lib/rdf2marc/rdf2model/mappers/edition_imprint_fields.rb#L49 the literal case is handled; support for using the URI label needs to be added.

[2021-11-01 18:56] jcoyne commented on #132
I'm still confused, currently the `Resolver.resolve_label()` method takes a URI.  Are you saying we should allow it to take a literal?

[2021-11-01 20:59] justinlittman commented on #132
No. I'm saying that when a literal is provided, the literal should be used as the label (i.e., resolving should NOT be performed).

If a URI and label is provided, but the URI is for an authority that cannot be resolved (i.e., anything other than id.loc.gov or fast), then the label should be used as the label.

[2021-11-02 00:15] jcoyne commented on #132
@justinlittman are you saying, refactor the method to take both a graph and a URI. Then check to see if there is a label in the graph for the URI, otherwise resolve the URI and find a label?

[2021-11-02 00:38] justinlittman commented on #132
I'd suggest leaving `Resolver.resolve_label()` as is, but refactor any mapper code that calls it. (If this ends not being very DRY, then might need some sort of a helper, but I wouldn't put it in Resolver.)

[2021-11-02 15:01] jcoyne commented on #131
I guess my problem understanding this ticket is that `Resolver.resolveModel()` never gets a literal, it always takes a URI.

[2021-11-02 15:13] justinlittman commented on #131
Correct. That should not change.
________________________________
From: Justin Coyne ***@***.***>
Sent: Tuesday, November 2, 2021 11:01:29 AM
To: LD4P/rdf2marc ***@***.***>
Cc: Justin Littman ***@***.***>; Mention ***@***.***>
Subject: Re: [LD4P/rdf2marc] Fallback when resolving models (Issue #131)

I guess my problem understanding this ticket is that Resolver.resolveModel() never gets a literal,

[2021-11-02 16:14] jcoyne commented on #131
@justinlittman So... "If a literal is provided, the literal is used for the appropriate model field.".... brings me back to " providing a literal to what, if not to `Resolver.resolveModel()`?

[2021-11-02 16:33] justinlittman commented on #131
If the object of the triple is a literal instead of a URI, use the literal for the model field instead of resolving to get a label.
________________________________
From: Justin Coyne ***@***.***>
Sent: Tuesday, November 2, 2021 12:14:38 PM
To: LD4P/rdf2marc ***@***.***>
Cc: Justin Littman ***@***.***>; Mention ***@***.***>
Subject: Re: [LD4P/rdf2marc] Fallback when resolving models (Issue #131)

[2021-11-02 21:30] jcoyne commented on #131
But `Resolver.resolveModel()` just gets a URI, not a triple.

[2021-11-03 12:10] justinlittman commented on #131
For example, https://github.com/LD4P/rdf2marc/blob/f8b7fb42d9d36f509f90abcae76881fa07c038c4/lib/rdf2marc/rdf2model/mappers/added_entry_fields.rb#L54-L58:
[code]

Great -- this already handles literals already, so only support for unresolved URIs need to be handled.
def added_entry_name_with_roles(contrib_term, role_uris, key_symbol, model_class)
          result = if contrib_term.is_a?(RDF::Litera

[2021-11-03 13:12] jcoyne commented on #131
So it's the code that invokes `Resolver.resolveModel()`, not `Resolver.resolveModel()` itself that ought to be changed? That wasn't clear to me from the description.

[2021-11-03 13:47] justinlittman commented on #131
Yes. Sorry that you couldn't figure out what was in my head ...

[2021-11-03 17:08] peetucket commented on #132
Am I on the right track here?  https://github.com/LD4P/rdf2marc/pull/134

Also I don't quite understand this: "If a URI is provided, but the URI is for an authority that cannot be resolved, and a label is provided for the URI and the label is different than the URI, use the label as the label."  How can you provide both a URI and a label into the `resolve_label` method?

[2021-11-04 15:51] jcoyne commented on #131
@justinlittman I don't think we have a label for the last case in the class you mentioned.   It might be helpful here if we had sample rdf, because I'm still having a terrible time understanding what is being asked.

[2021-11-04 17:46] michelleif commented on #129
in progress via 2 smaller tix

[2021-11-04 20:33] jcoyne opened #135 "Help menu has two close icons"
![Screen Shot 2021-11-04 at 3.33.32 PM.png](https://images.zenhubusercontent.com/5d827302218c340001a2e38f/78bc9d0d-45a9-481e-8275-d2c9087e01ef)

[2021-11-05 16:31] kirkhess opened #136 "RDA 336/7/8 fields $b not $c"
https://github.com/LD4P/rdf2marc/blob/9a1844b69a07aaea82d7a262eeaacb7f0d25c78b/spec/rdf2marc/model2marc/field_336_spec.rb#L24

https://github.com/LD4P/rdf2marc/blob/3f7e605028ec0c6227d514b4f96271879410f042/spec/rdf2marc/model2marc/field_337_spec.rb#L24

https://github.com/LD4P/rdf2marc/blob/3f7e605028ec0c6227d514b4f96271879410f042/spec/rdf2marc/model2marc/field_338_spec.rb#L24

The code subfield i

[2021-11-05 16:44] kirkhess opened #137 "003 Control Number Identifier"
https://github.com/LD4P/rdf2marc/blob/6eb7c40acaebf2a2920281e0f5a834eea1e141d2/lib/rdf2marc/model2marc/record.rb#L16

This is the organization code (either MARC or OCLC) whose control number is contained in the 001, i.e. ocolc, or dlc.

It shouldn't be a uri - for the standpoint of the converter it sort of makes sense to have a default option as a env variable.

LC maps the 003 to a bf:Work or bf:

[2021-11-09 18:29] NancyL commented on #136
Yes, this is correct. They all should be $b

[2021-11-09 23:07] NancyL commented on #57
So they have bflc:titleSortKey which picks up the title based on non-filing characters, but this is only when converting from MARC to BF. It remains unchanged after that no matter what you do to the title.

[to remain unnamed here] "has proposed using Unicode non-sorting markers, which are permissible in the MARC communications format (https://www.loc.gov/marc/specifications/specchargeneral.html#b

[2021-11-10 14:22] #136 closed

[2021-11-10 21:44] mjgiarlo commented on #107
@justinlittman https://github.com/LD4P/sinopia_cli/pull/1/ addresses the sinopia CLI changes needed.

I'm having less success with the "In Sinopia development, manually recreate the test resources" step because it's not clear to me which RT(s) I should be using to base resource changes on. For instance, I'm looking at this dev resource: https://api.development.sinopia.io/resource/4ccf09fb-62e9-4f8

[2021-11-11 19:09] mjgiarlo commented on #107
New instance in dev: fae34165-c69a-4caa-9b9a-2448f71cc340

[2021-11-12 00:03] mjgiarlo opened #141 "Reconsider admin metadata status code mapping?"
In working through https://github.com/LD4P/rdf2marc/issues/107, I've gotten as far as creating new admin metadata, work, and instance resources in dev based on `pcc:bf2:*` templates rather than `ld4p:RT:bf2:*` templates. The rdf-to-marc mapping tool (`rdf2marc`) fails on the instance*, apparently because the status property in admin metadata was changed from expecting a string code (`n`) to expect

[2021-11-12 00:03] mjgiarlo commented on #107
Blocked by https://github.com/LD4P/sinopia/issues/325

[2021-11-12 17:33] michelleif commented on #137
@NancyL how do you want the organization code converted to MARC now that it's a URI in the template?

[2021-11-12 23:11] justinlittman commented on #107
@mjgiarlo Can you just skip the status property for now?

[2021-11-12 23:43] NancyL commented on #141
So I don't think this is really the issue, since it works fine in stage--see https://api.stage.sinopia.io/resource/b8843818-7961-4da6-bc92-401a9f75b8f6  and its associated instance, which converts just fine to MARC.

In rdf2marc these would go in the leader 05--Record status and it would need to be the code, not the URI. However, LC has expanded the codes beyond 05, so not sure how well those othe

[2021-11-15 13:59] justinlittman opened #143 "Fix lambda deploy problem"
`An error occurred (RequestEntityTooLargeException) when calling the PublishLayerVersion operation: Request must be smaller than 69905067 bytes for the PublishLayerVersion operation`

See https://app.circleci.com/pipelines/github/LD4P/rdf2marc/287/workflows/3c1e92b5-e982-4512-9b78-8a7b2561fc9d/jobs/911

Please investigate. Possible solutions might include making the layer smaller (fewer deps) or p

[2021-11-15 17:04] mjgiarlo commented on #107
@justinlittman As in... leave the status mapping alone, and when it raises due to having a BF URI, eat it and continue, leaving the status mapping blank? Sure, that'd easy enough.

[2021-11-15 17:08] justinlittman commented on #107
No, in the admin metadata resource don't provide a value for the status (i.e., leave it blank).

[2021-11-15 17:18] mjgiarlo commented on #107
@justinlittman Sure, I can edit that data out in dev, no problem.

Here's the current rdf2marc diff, btw:

[code]

[2021-11-15 17:25] mjgiarlo commented on #107
@justinlittman I don't see anything about dev in the rdf2marc README, the last step in this issue, so I guessed that this was the change we wanted: https://github.com/LD4P/rdf2marc/pull/144

[2021-11-15 17:27] NancyL commented on #107
I'm not sure what would happen with the MARC going to OCLC (or even to Symphony?) with it blank. The default is "n" for all other systems. @vitustang would you know?

[2021-11-15 17:33] mjgiarlo commented on #107
Hi, @NancyL. I believe it's still defaulting to `n`:

[code]

[2021-11-15 18:05] mjgiarlo commented on #141
@justinlittman @NancyL I believe this is indeed already an issue in stage for resources that have admin metadata using the status URI. E.g.:

[code]

[2021-11-15 18:16] #107 closed

[2021-11-15 19:15] mjgiarlo commented on #141
@justinlittman @NancyL for now, I'll put in a little PR that traps for this condition and default to `n` for the mapping. thanks!

[2021-11-16 15:02] #143 closed

[2021-11-16 17:57] jcoyne commented on #131
Do we want this refactoring to handle where the subject terms are resolved too?   If so, what should the `key_symbol` be in the case where it's a "topic"?

[2021-11-16 18:15] justinlittman commented on #131
Yes. I assume you're talking about https://github.com/LD4P/rdf2marc/blob/f8b7fb42d9d36f509f90abcae76881fa07c038c4/lib/rdf2marc/rdf2model/mappers/subject_access_fields.rb#L41-L43

When, for a topic, there is a URI and a label and the URI can't resolved, then the model would be:
[code]

[2021-11-17 21:24] NancyL opened #148 "Wrong first indicator mapping bf:Distribution to MARC 264"
**Type of change**
Change to an existing mapping

**Example RDF records**
https://api.development.sinopia.io/resource/466e610d-1213-4936-9e11-aa0447371ab1

**Resource template**
development: stanford:pcc:bf2:Monograph:Instance

**Expected MARC**
245 10 $a A new introduction to bibliography $c by Philip Gaskell
264  1 $a New Castle (Del.) $b Oak Knoll Press
264  1 $a Winchester (England) $b St. Pau

[2021-11-18 17:51] NancyL commented on #148
yup, that's what I have as "actual MARC". The top is what is expected.

[2021-11-18 18:37] peetucket commented on #132
See https://github.com/LD4P/rdf2marc/pull/147

[2021-11-18 19:58] #148 closed

[2021-11-18 20:02] NancyL commented on #148
oops, I see I said first indicator, when it should be second indicator. Did I mess this up?

[2021-11-18 20:08] mjgiarlo commented on #148
@NancyL now that this fix is in, do you want to run it against the test record and verify?

[2021-11-18 22:44] NancyL commented on #148
@mjgiarlo looks good, despite my dumb error! Thanks!

[2021-11-18 22:45] mjgiarlo commented on #148
@NancyL No worries. Thanks for writing up the issue with the expected/actual data in it. Made it very easy to put in a fix.

[2021-11-19 00:25] mjgiarlo commented on #132
@justinlittman I hate for this issue to become a revolving door, but I'm not sure I get this one either. Here's the bit I'm unsure about:

How/where is the label provided for the URI? Is there sample data or a test that can shed more light on this?

[2021-11-19 00:42] justinlittman commented on #132
See @jcoyne's PR for related work: https://github.com/LD4P/rdf2marc/pull/147

The label is provided as an RDFS:label. See this example: https://github.com/LD4P/rdf2marc/issues/131#issuecomment-961200409

[2021-11-19 00:46] #131 closed

[2021-11-19 16:52] #141 closed

[2021-11-19 17:02] michelleif commented on #137
@NancyL please advise

[2021-11-19 17:33] NancyL commented on #137
I think this is a question for @vitustang

[2021-11-19 20:06] vitustang commented on #137
My feeling is that the converter should not assign an 003. The MARC record will be loaded into a ILS (and different ILSs depending on who is initiating the export). If this MARC record is exchanged with another system, then it would be exported from that ILS, and on export that ILS will put the record id in the 001 and the organization code in the 003. So, I see no reason for the converter to pre-

[2021-11-19 21:29] michelleif commented on #137
so do we want to stop creating the 003 in rdf2marc conversion?

[2021-11-19 21:59] kirkhess commented on #137
In [bibframe2marc](https://github.com/lcnetdev/bibframe2marc) the specs have the mapping for 003 to:
adminMetadata/AdminMetadata/identifiedBy/Local/assigner/Agent/code
And that bf:Local would have the identifier value which goes in the 001. There's no 001 assigned by this service as far as I can tell so that's another reason not to use the 003.

For a valid 'operational' marc record you'll want a

[2021-12-02 17:42] michelleif commented on #137
@NancyL please advise on whether there is Sinopia work that needs to be done here

[2021-12-02 18:11] NancyL commented on #137
I believe Vitus says no there is not, but best to ask him @vitustang

[2021-12-02 20:06] #132 closed

[2021-12-03 16:03] justinlittman commented on #129
This now produces:
[code]

[2021-12-03 16:03] #129 closed

[2021-12-03 20:31] michelleif commented on #137
@kirkhess what is the problem in Sinopia that needs to be fixed?

[2021-12-03 20:31] michelleif commented on #137
@kirkhess never mind, we decided to stop creating an 003

[2021-12-03 20:31] michelleif commented on #137
so the development work is: stop mapping 003

[2021-12-03 21:53] justinlittman commented on #137
Please remove the rdf to model mapping for `control_number_id`: https://github.com/LD4P/rdf2marc/blob/6eb7c40acaebf2a2920281e0f5a834eea1e141d2/lib/rdf2marc/rdf2model/mappers/control_fields.rb#L10

[2021-12-04 16:45] NancyL commented on #57
I've been speaking with Nate, though he won't get back to me with an answer till this coming week. We may have a possible (and fairly simple) solution

[2021-12-04 17:08] NancyL opened #154 "Map Table of Contents to MARC record"
**Type of change**
new mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
Instance: https://api.stage.sinopia.io/resource/37b5a9ba-ac09-41be-9ecd-26fb9f3fe546
Work (where bf:tableOfContents resides): https://api.stage.sinopia.io/resource/abe6ddce-de7d-4fc9-89fe-3c5bbd2a2d80

**Resource template**
Which resource template does thi

[2021-12-06 20:42] NancyL opened #156 "Map bf:provisionActivityStatement to MARC 500 field"
**Type of change**
New mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7 (Physica)
![image](https://user-images.githubusercontent.com/5078198/144918315-7b5fbc6d-0845-454b-b525-640e168708b9.png)

**Resource template**
Which resource template does this ap

[2021-12-06 21:26] NancyL opened #157 "bf:partNumber & bf:partName are in wrong order on conversion to MARC"
**Type of change**
change to existing mapping/defect?

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/3eb5f480-60d6-4732-8daf-02d8d6f26eb7

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

pcc:bf2:Monograph:Instance

[2021-12-07 02:04] NancyL opened #158 "Map bf:illustrativeContent to MARC"
**Type of change**
new mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://api.stage.sinopia.io/resource/049ef4d3-4430-412d-bd73-42b78799b804

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

stanford:bf2:Monograph:Instance/pcc:bf2:Monograph

[2021-12-07 18:30] ndushay commented on #156
Is it concerning that https://www.loc.gov/marc/bibliographic/bd500.html shows no subfield i ?   (I was trying to figure out what to call subfield i)

[2021-12-07 18:36] justinlittman commented on #156
@NancyL ?

[2021-12-07 18:39] NancyL commented on #156
@ndushay wow, sorry about that. So instead, could we do:

500 ## $a Transcribed publication statement: Rochester, Vermont : Healing Arts Press, [1998]

This would mean just adding the set text in front of the statement from Sinopia

[2021-12-07 18:53] NancyL opened #160 "Map bflc:TransliteratedTitle to 246"
**Type of change**
New mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://stage.sinopia.io/editor/resource/1cca2add-33c9-4fbc-a430-b133d0c7bb88

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

Stanford:bf2:Monograph:Instance on Stage

**Ex

[2021-12-07 19:22] justinlittman opened #161 "undefined method `[]' for nil:NilClass"
[code]

Please determine why this error is occurring so that we can decide how to handle.

[2021-12-07 21:00] #137 closed

[2021-12-07 21:35] ndushay commented on #158
@NancyL I looked at the resource you provided above and there is no "illustrativeContent" statement that I found.  I did find this:

[code]

But ... I'm not clear on  BF.illustrativeContext

[2021-12-07 21:40] ndushay commented on #160
uri of example appears to be https://api.stage.sinopia.io/resource/1cca2add-33c9-4fbc-a430-b133d0c7bb88

[2021-12-07 21:47] NancyL commented on #160
yes, as given above. Is there a problem with the example?

[2021-12-07 21:50] #156 closed

[2021-12-07 21:50] NancyL commented on #158
it is in the work that is linked to the instance: https://api.stage.sinopia.io/resource/b23e2319-195f-443b-8f6f-65300b192620

[2021-12-07 22:32] ndushay commented on #160
@NancyL Questions:

1.  I'm assuming translated title statements are NOT the same as transliterated title statements and should not be treated the same.  True?  (looks like translated titles go in Marc 242)
2. I'm assuming we are deliberately not considering transliterated titles to be parallel titles.  True?
3. currently, it looks like translated titles do NOT map the subtitle.  Should they?
4. c

[2021-12-07 22:47] NancyL commented on #160
1. There is no longer a "translated title", only "transliterated title" which is what that was supposed to be. The 242 is not generally used & LC has been pushing it. You could use that instead, but I suspect it does not appear in SearchWorks. My use of the 246 was intended as a stop gap. But if it does map into SW, we could use that, but with "Transliterated" not "translated".
2. No they aren't s

[2021-12-07 22:55] NancyL commented on #160
Expected mapping logic
I would like to get the transliterated version of the title in the MARC record. The simplest way to do this right now is to take bf:title/bflc:TransliteratedTitle and put it in a 242 field
So
bf:title [a bflc:TransliteratedTitle ;
bf:mainTitle ;
bf:subtitle ;
bf:partNumber ;
bf:partName
] .

maps to the 242 as follows:

242 10 $a mainTitle $b subtitle $npartNumber $p partNam

[2021-12-07 22:57] ndushay commented on #160
More:
1.  242 *is* indexed in SearchWorks, and already is spoken for;  our test code has an example like this:
[code]

6.  I can include the colon.
It's up to you if you want to use 246 or 242.  Does `@ar-Latn-t-ar-m0-alaloc` have a 3 letter marc language code to go in 242y ?

3.  I will make existing code for translated titles map the subtitle.
4.  If we stick with 246 for transliterated title, I

[2021-12-07 23:06] NancyL commented on #160
bf:VariantTitle should not be mapped to a 242. It should be mapped to a 246 3#. Only a bflc:TransliteratedTitle should map to the 242

[2021-12-07 23:06] ndushay commented on #160
For 242y -- ignore that -- we're not currently mapping to it for translated titles.

[2021-12-07 23:13] ndushay commented on #160
Speaking in realtime with Nancy:

A.  our current code to create "translated_title" that eventually maps to Marc 242 ... may be no longer needed.  Nancy will investigate.

[2021-12-08 04:33] NancyL commented on #160
After testing, I see that the 242 does indeed display in SearchWorks. So... bflc:TransliteratedTitle should map to the 242. bflc:TransliteratedTitle replaced bflc:TranslatedTitle; there is no longer a bflc:TranslatedTitle. What is in the conversion specs needs to be updated. So it is fine to get rid of the conversion specs for translated title and replace it with bflc:TransliteratedTitle.

[2021-12-08 12:54] justinlittman opened #163 "country_code: deprecation warning"
Resolve this warning:
[code]

[2021-12-08 17:00] #161 closed

[2021-12-08 17:02] aaron-collier commented on #163
@justinlittman I no longer see this warning, I see a new warning:

[code]

[2021-12-08 17:47] justinlittman commented on #163
I still see it. Which version of Ruby are you running @aaron-collier ?

[code]

[2021-12-08 20:37] #160 closed

[2021-12-09 11:55] #157 closed

[2021-12-09 17:02] justinlittman commented on #163
Determined that this warning doesn't appear with newer ruby.

[2021-12-09 17:02] #163 closed

[2021-12-09 18:18] #154 closed

[2021-12-12 22:32] #59 closed

[2021-12-14 21:08] RobertRohr opened #171 "MARC Conversion error in MARC field 050"
The MARC conversion is incorrectly assigning "0" (Assigned by LC) as the second indicator in field 050 (Library of Congress Call Number) when converting the following property in the Work resource: http://id.loc.gov/ontologies/bibframe/classificationPortion

The second indicator should actually be "4" (Assigned by agency other than LC).

![050_Error](https://user-images.githubusercontent.com/48070

[2021-12-14 21:19] RobertRohr opened #170 "MARC conversion--Not adding author with literal and no URI"
The MARC conversion is not creating a 1XX field for the primary contributor when the primary contributor is only entered as a literal with no corresponding URI. For example, see the following work resource: https://api.stage.sinopia.io/resource/f0f8a70a-74f5-44f2-9096-c50c81233e7b. The author is there as a literal, but does not end up in the converted MARC record. I'm attaching screen shots of the

[2021-12-14 23:06] RobertRohr commented on #170
For things like contributor, I think we would want to convert the data to MARC 1XX or 7XX regardless of whether there is a URI or not, especially since quite often the agent we want to add to a bibliographic description is not in QA and we have to enter a literal.

[2021-12-16 22:06] NancyL commented on #170
In our discussion with Justin, we agreed that any label in converted fields would convert over to MARC.

[2021-12-16 22:10] michelleif commented on #170
yes that's right, sorry about that. I will fix the documentation and let's get this fixed. I will see who is available to fix.

[2021-12-17 22:16] #170 closed

[2022-01-18 21:52] NancyL opened #177 "Error message about hand-entered authority URI preventing conversion"
**Type of change**
Defect?

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://api.stage.sinopia.io/resource/ec2057de-dbed-4407-af3a-ad71445e380e

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

Stanford:bf2:Monograph:Instance/Stanford:bf2:Monograp

[2022-01-18 21:55] NancyL commented on #177
I will add that the template has been changed slightly since this was first reported and the name & URI had to be re-entered. The problem, however, is unchanged. It still reports an error and prevents conversion.

[2022-01-19 12:22] justinlittman commented on #177
Yes, the code does not handle the case when there is a resolvable URI (e.g., from id.loc.gov), but that URI does not yet resolve (results in 404).

[2022-02-22 23:38] NancyL opened #186 "Add bf:Contribution to 7XX conversion"
**Type of change**
I guess a new mapping, though I could have sworn it used to convert...

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/81a7a719-2ffa-4382-acdf-4e6088976392 (instance)
https://api.stage.sinopia.io/resource/c16a32ce-7457-4397-9429-1fa64f3baf17 (work)

**Resource template**
Which

[2022-02-23 15:40] jimfhahn commented on #158
Singers' Italian
https://api.stage.sinopia.io/resource/70904243-8e7e-4bca-9e41-9db38f640b69

which contains the reference to this Illustrative Content:
https://id.loc.gov/vocabulary/millus/mus.html

Illustrative content from the Sinopia Work record converted in the 008(18) MARC as “illustrations” (code a), we were expecting “music” (code g).

`008 220215s1996    enka                eng||`

Will rd

[2022-02-23 15:56] jimfhahn opened #187 "form of work: an incorrect second indicator (“0” instead of correct “7”)"
**Type of change**
change to existing mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://api.stage.sinopia.io/resource/70904243-8e7e-4bca-9e41-9db38f640b69

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

PCC Work Template in stage.

**Exp

[2022-02-23 16:15] jimfhahn opened #188 "copyright date not in MARC record: (264 _4 $c )"
**Type of change**
change to existing mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.

https://api.stage.sinopia.io/resource/2a182f02-abd1-4c04-bbcd-b70457a1416c

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

PCC Instance Template in stage.

*

[2022-04-22 18:53] gdegroat opened #244 "MARC conversion--some headings ending in ) have it disappear after conversion"
Some headings which have something in parentheses are losing the closing parenthesis when converted to MARC.

This is in Stage using Firefox, and is data from the Work template but converted by the MARC command on the Instance record. Here is a screenshot of https://api.stage.sinopia.io/resource/97598414-1c83-41dd-a043-d6ac1c931601
![image](https://user-images.githubusercontent.com/44270367/164775

[2022-04-28 18:32] gdegroat opened #243 "Reporting MARC conversion errors"
This instance record will not convert to MARC.  The screenshot shows the cryptic error message, i don't know what it is that needs correction.  It  would be helpful if the error message could show the element that was the problem, or even the refer to a line number or triple in the RDF--some clue anyway.  I'm going to be reporting several of these.  This is URI https://api.stage.sinopia.io/resourc

[2022-04-28 18:56] gdegroat opened #242 "Another MARC conversion error"
Hmmm, it looks like maybe you made some changes so that some of the conversions are now working.  I had several with NULL in the message and i can't find any of them now.  So that's good!

Here's one that still has a conversion error with a cryptic message, URI https://api.stage.sinopia.io/resource/2fbf1ee8-b738-43d2-a3f6-aa9cf344bd19      I can make some guesses, as it converted before and then i

[2022-06-17 22:04] NancyL opened #205 "Adjust conversion bf:source/lookup to LOC cultural heritage institutions in the AdminMetadata subtemplate"
**Type of change**
This is part 1 of a change to mapping based on input from the "Strawman" WG, which is looking at BF interoperability. This first applies only to the property being used in Sinopia which is being changed and thus breaks the BF2MARC conversion.

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
This first example shows

[2022-06-17 22:13] NancyL opened #206 "AdminMetadata bf:source (which will become bf:assigner) provides incorrect label in MARC conversion"
**Type of change**
This is a change/reported defect.

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/879212bf-f815-489f-abc5-b9882d74fb12

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
pcc:bf2:AdminMetadata in the

[2022-06-17 22:16] NancyL commented on #205
There is a second part to this change, reported in issue 206

[2022-06-17 22:17] NancyL commented on #206
There is a first part to this mapping change request in #205

[2022-06-17 22:30] NancyL opened #207 "Streamline & clarify the process for exporting and overlaying a Symphony record with a Sinopia description"
**Type of change**
a request for new workflow

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/879212bf-f815-489f-abc5-b9882d74fb12

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?

pcc:bf2:Monograph:Instance

Current

[2022-06-17 22:55] NancyL commented on #187
Agree! This needs to be fixed!

[2022-06-20 21:49] NancyL opened #209 "Change in subtemplate pcc:bf2:PublicationInformation that affects conversion was:Find a way to be able to either legally use literals where there should be URIs"
**Type of change**
 A mapping I need to change in the template I believe affects conversion

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.stage.sinopia.io/resource/d7bb311f-a7d8-463e-8537-d71c76bb2ee5

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, pro

[2022-06-20 22:03] NancyL commented on #57
Since LC is still waffling on what to do about non-filing indicators, I would propose that we create one using a Sinopia property that could potentially be converted at some point to a more universal one. The property could be fairly simple: sinopia:nonfilingIndicator with an integer as its value. That value would then be mapped into the MARC 245 field, as the value for the second indicator. That

[2022-06-22 13:39] jermnelson commented on #207
I think this issue should be moved to Sinopia Editor

[2022-07-25 19:32] justinlittman commented on #57
@NancyL How about `http://sinopia.io/vocabulary/bf/nonfiling`?

[2022-07-25 19:42] justinlittman commented on #209
@NancyL Here is what I get for https://api.stage.sinopia.io/resource/d7bb311f-a7d8-463e-8537-d71c76bb2ee5:
[code]

What is expected?

[2022-07-25 22:27] NancyL commented on #57
sounds good to me!

[2022-07-26 11:41] justinlittman opened #218 "fast_resolvers/base_mapper.rb: warning: Passing the keyword argument as the last hash parameter is deprecated"
Also: `country_code.rb:16: warning: Passing the keyword argument as the last hash parameter is deprecated`

[2022-07-26 12:13] justinlittman commented on #57
https://github.com/LD4P/sinopia_editor/pull/3570 adds it to the vocab.

![image](https://user-images.githubusercontent.com/588335/181002961-047d467e-5b92-4868-af16-b7635e77085e.png)

Let me know when it has been added to a template and there is an example record. (No need to wait for the vocab PR to be deployed before beginning to use the URI.)

[2022-07-26 12:56] #187 closed

[2022-07-26 12:59] #218 closed

[2022-07-26 12:59] #186 closed

[2022-07-26 13:00] #206 closed

[2022-07-26 13:01] #205 closed

[2022-07-26 18:42] NancyL commented on #57
I have one in stage but I'm guessing you need the example in dev?

[2022-07-27 19:29] justinlittman commented on #57
[code]

[2022-07-27 19:51] NancyL commented on #57
looks good! Very exciting!

[2022-07-29 18:49] NancyL commented on #209
So actually this example didn't have a place of publication in the data.
But there was 2 parts to this problem:
1. I needed to change bf:place here to go to a nested resource rather than a direct lookup and thought it might affect conversion. Turns out it does not.
2. We need to be able to put literals in this field (which would be reified by the addition of the bf:Place range). I thought adding t

[2022-08-01 16:04] #57 closed

[2022-08-01 16:05] #171 closed

[2022-08-04 03:57] NancyL opened #225 "Change in modeling of bf:Publication/Distribution/Manufacture/Production"
**Type of change**
Change to existing mapping

**Example RDF records**
Please provide URIs or RDF of the `bf:Instance`. If providing RDF, Turtle is preferred.
https://api.development.sinopia.io/resource/d65b8846-2a6d-48c6-baed-ec4386a2e95a

**Resource template**
Which resource template does this apply to? In which Sinopia environment (development, stage, production)?
development: pcc:bf2:Monograph

[2022-08-05 23:49] Leszek-Czubik opened #227 "MARC conversion bug"
In MARC conversion I received the following bug:
Error requesting MARC: Server error: Ooops, something went wrong: undefined method `[]' for nil:NilClass

Image link: https://user-images.githubusercontent.com/109996299/183224444-b3956260-8d0b-4823-98b1-7a03d55a7e50.png

For the title: Kultura pracy

Thank you!

[2022-08-08 20:04] #227 closed

[2022-08-08 20:10] Leszek-Czubik commented on #227
Thank you!

[2022-08-10 21:16] justinlittman commented on #209
Replaced by #225 per @NancyL

[2022-08-10 21:16] #209 closed

[2022-09-08 16:19] jimfhahn opened #233 "Multivolume Instance with publications across multiple years / 008 mapping"
**Type of change**

Existing mapping in 008

**Example RDF records**

https://api.stage.sinopia.io/resource/a06fd6b3-0107-4e50-9988-5632c07180ca

bf:date is listed as “2013-2014”.

**Resource template**

pcc:bf2:Monograph:Instance

Stage

**Expected MARC**

When you record a range of dates in bf:date, eg a multivolume work, should be able to get a range coded as “multiple dates” in the 008’s posit

[2022-09-12 17:44] NancyL commented on #188
@jimfhahn just to be sure. You primarily want the copyright date in the 264, correct? So the mapping would be:
bf:copyright ©1996
 converts to:
264 #4 $c ©1996 in MARC

Are you okay if the 008 t [pubdate] [copyright date] is not implemented in the first round?

[2022-09-13 14:08] jimfhahn commented on #188
Yes, that sounds good! 🙏

On Mon, Sep 12, 2022 at 12:44 PM NancyL ***@***.***> wrote:

[2022-09-15 23:23] #225 closed